@import 'bootstrap';
@import 'daterangepicker';
@import 'payment';


.container1{
	background-image: url(https://images.unsplash.com/photo-1515042060308-e902829bc285?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a5768cc0be2b83a2402508e113e1b2e8&auto=format&fit=crop&w=1350&q=80);
	background-repeat: no-repeat, repeat;
	background-size: cover;
    margin-left: 40px;
    margin-right: 40px;
    height: 100%; 
    background-position: center;
	display: inline-block;
	width: -webkit-fill-available;
    height: -webkit-fill-available;
}

 .title1 {
 margin-left: 40px;
 margin-right: 40px;
 width: 30%;
 text-align: center;
}

#listing-image{
	position: relative;
    float: left;
    width:  400px;
    height: 200px;
    background-position: 100% 100%;
    background-repeat:   no-repeat;
    background-size:     cover;
}